body {
height:100%;
background: #ddd;
margin-bottom: 1px;
}

.clear{clear:both;}

.wrapper{
        width:750px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-241px 0 0 -425px;
        background-color:#eee;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding:20px;
        box-shadow: 5px 5px 7px #888;
       -moz-box-shadow: 5px 5px 7px #888;
       -webkit-box-shadow: 5px 5px 7px #888;
}

a {
color:#55688A;
}

@font-face {
	font-family: Fontin;
	src: url('../fonts/fontin.otf');
}

.head {
text-align:center;
font-family: Fontin, sans-serif;
font-size:28px;
margin-bottom:10px;
}


.backup {
margin-left:10px;
margin-right:20px; 
height:28px;
}

.logout  {
margin-left:20px; 
height:28px;
}
