body {
height:100%;
background: #ddd;
margin-bottom: 1px;
}

.clear{clear:both;}

.tablediv {
text-align:center;
width:100%;
}

.leftdiv {
float: left; 
padding-right:35px; 
width:85%;
font-size:14px;
height:17px;
}
.rightdiv  {
float: left; 
width:5%;
font-size:14px;
height:17px;
}

.backup {
float:left;
margin-left:55px;
margin-right:30px; 
height:28px;
}

.logout  {
float:left;
margin-left:10px; 
height:28px;
}

.hidden  {
display:none;
}

.wrapper{

        width:750px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-225px 0 0 -425px;
        background-color:#eee;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding:20px;
       -moz-box-shadow: 5px 5px 7px #888;
       -webkit-box-shadow: 5px 5px 7px #888;
}

a {
color:#55688A;
}

h2 {
color:#55688A;
font-size:22px;
}
* { margin: 0; padding: 0; }

h1 { 
	width: 660px; 
	margin: 0 auto;
	padding: 20px 0;
	color: #222;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
    position:absolute;
    top:-47px;
    left:24px;
}

@font-face {
	font-family: Fontin;
	src: url('../fonts/fontin.otf');
}

.head {
text-align:center;
font-family: Fontin, sans-serif;
font-size:28px;
margin-bottom:10px;
}


.tabs { 
    	list-style: none; 
        width:350px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-262px 0 0 -175px;
    }
		.tabs li { 
		  /* Makes a horizontal row */
			float: left; 
			
			/* So the psueudo elements can be
			   abs. positioned inside */
			position: relative; 
		}
		.tabs a { 
		  /* Make them block level
		     and only as wide as they need */
		  float: left; 
		  padding: 10px 40px; 
		  text-decoration: none;
		  
		  /* Default colors */ 
		  color: black;
		  background: #CCCCCC; 
		  
		  /* Only round the top corners */
		  -webkit-border-top-left-radius: 15px;
		  -webkit-border-top-right-radius: 15px;
		  -moz-border-radius-topleft: 15px;
		  -moz-border-radius-topright: 15px;
		  border-top-left-radius: 15px;
		  border-top-right-radius: 15px; 
		}
		.tabs .active {
		  /* Highest, active tab is on top */
		  z-index: 3;
		}
		.tabs .active a { 
		  /* Colors when tab is active */
		  background: #eee; 
		  color: black; 
		}
		.tabs li:before, .tabs li:after, 
		.tabs li a:before, .tabs li a:after {
		  /* All pseudo elements are 
		     abs. positioned and on bottom */
		  position: absolute;
		  bottom: 0;
		}
		/* Only the first, last, and active
		   tabs need pseudo elements at all */
		.tabs li:last-child:after,   .tabs li:last-child a:after,
		.tabs li:first-child:before, .tabs li:first-child a:before,
		.tabs .active:after,   .tabs .active:before, 
		.tabs .active a:after, .tabs .active a:before {
		  content: "";
		}
		.tabs .active:before, .tabs .active:after {
		  background: transparent; 
		  
		  /* Squares below circles */
		  z-index: 1;
		}
		/* Squares */
		.tabs li:before, .tabs li:after {
		  width: 10px;
		  height: 10px;
		}
		.tabs li:before {
		  left: -10px;      
		}
		.tabs li:after { 
		  right: -10px;
		}
		/* Circles */
		.tabs li a:after, .tabs li a:before {
		  width: 20px; 
		  height: 20px;
		  /* Circles are circular */
		  -webkit-border-radius: 10px;
		  -moz-border-radius:    10px;
		  border-radius:         10px;
		  
		  /* Circles over squares */
		  z-index: 2;
		}
		.tabs .active a:after, .tabs .active a:before {
		  background: transparent;
		}
		/* First and last tabs have different
		   outside color needs */
		.tabs li:first-child.active a:before,
		.tabs li:last-child.active a:after {
		
		}
		.tabs li a:before {
		  left: -20px;
		}
		.tabs li a:after {
		  right: -20px;
		}

.logs {
    -moz-border-radius-topleft: 10px; 
    border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px; 
    border-bottom-left-radius: 10px;
    background: #000000;
    color: #ffffff;
    padding-top: 2px; 
    padding-left: 14px; 
    width: 750px; 
    height: 300px;
    overflow: auto;
    }
